body {
   background-image:url("background.gif");
    color:white;
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
}

.my-project {
  color: white;
}
#add-ship-btn{
  margin-top: 20px;
  font-style: italic;
  font-weight: 900;

}

div.transparent {
  background: rgba(0, 0, 0, 0);
}

@media screen and (min-width:980px)
{
  #gifs-appear-here{
    width: 100%;
    max-width: 980px;
    padding-left: 30px;
  }
}

@media screen and (max-width:980px) and (min-width:768px)
{
  #gifs-appear-here
  {
     width: 100%;
     max-width:768px;
     padding-left: 5px;
  }  
}


@media screen and (max-width:768px) and (min-width:640px)
{
  #gifs-appear-here
  {
     width: 100%;
     max-width:640px;
     padding-left: 5px;
  }  
}

@media screen and (max-width:640px)
{
  #gifs-appear-here
  {
     width: 100%;
     max-width:640px;
     padding-left: 0px;
  }  
}
